<%- include('partials/header') -%>
<%- include('partials/nav') -%>  

  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>News</h2>

          <ol>
            <li><a href="/">Home</a></li>
            <li>News</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <% articles.slice(0, 8).forEach(article => { %>
              <article class="entry">

                <div class="entry-img">
                  <img src="{{ url_for('static',filename='assets/img/blog/blog-1.jpg') }}" alt="" class="img-fluid">
                </div>

                <h2 class="entry-title">
                  <a href="/news/<%= article.slug %>"><%= article.title %></a>
                </h2>

                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/news/<%= article.slug %>">Admin</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/news/<%= article.slug %>"><time datetime="<%= article.createdAt.toLocaleDateString('de-DE', options) %>"><%= article.createdAt.toLocaleDateString('de-DE', options) %></time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/news/<%= article.slug %>">0 Kommentare</a></li>
                  </ul>
                </div>

                <div class="entry-content">
                  <p>
                    <%= article.description %>
                  </p>
                  <div class="read-more">
                    <a href="/news/<%= article.slug %>">Erfahre mehr</a>
                  </div>
                </div>

              </article><!-- End blog entry -->
            <% }) %>

            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li class="active"><a href="#">1</a></li>
              </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Suche</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Neuste Artikel</h3>
              <div class="sidebar-item recent-posts">

                <% articles.slice(0, 3).forEach(article => { %>
                  <div class="post-item clearfix">
                    <img src="assets/img/blog/blog-recent-1.jpg" alt="">
                    <h4><a href="/news/<%= article.slug %>"><%= article.title %></a></h4>
                    <time datetime="<%= article.createdAt.toLocaleDateString('de-DE', options) %>"><%= article.createdAt.toLocaleDateString('de-DE', options) %></time>
                  </div>
                <% }) %>

            

              </div><!-- End sidebar recent posts-->

              <!--<h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">App</a></li>
                  <li><a href="#">IT</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Mac</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Office</a></li>
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Studio</a></li>
                  <li><a href="#">Smart</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

<%- include('partials/footer') -%>  
